@media only screen and (max-width:700px)
{
    .fixed{
        width: 100%;
        height: 789px;
        gap: 20px;
    }
    .fixCards{
        width: 327px;
        height: 546px;                
    }
    .card3{
        width: 327px !important;
        height: 150px !important;      
        gap:16px;
        flex-direction: column;  
        position: relative;
    }
    .arrowImg{
        width: 13px !important;
        height: 13px !important;
    }
    .fixedHead{
        width: 327px;
        height: 41px;
        font-size: 40px;     
        display: flex;
        justify-content: center; 
    }
    .hrLine{
        width: 311px !important;
        height: 0px;
    }
    .para{
        width: 327px;
        height: 42px;
        font-size: 16px;
    }
    .cardHead{
        width: 263px;
        height: 21px;        
    }
    .btn-content{
        width: 311px;
        height: 42px;
        display: flex;
        position: absolute;
        bottom: 4px;
    }
    /* Meet The Team */
    .meetFrame{
        width: 100%;
        height: 1046px;        
    }
    .vec1{
        width: 15.8px;
        height: 10.2px;
        left: 5px !important;
        top: 30px !important;
    }
    .vec2{
        width: 15.8px;
        height: 10.2px;
        left: 143px !important;
        bottom: 23px !important;
    }
    .card1{
        width: 327px;
        height: 183.5px;
    }
    .card1Content{
        width: 139px;
        height: 105px;
        left: 16px;
        top: 39px;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
    }
    .meetCards{
        width: 327px !important;
        height: 582.5px !important;
        justify-content: space-between !important;
    }
    .cardMeet{
        width: 155.5px;
        height: 183.5px;
    }
    /* FdBazaar */
    .fdContainer{
        width: 100%;
        height: 731px;
        flex-wrap: wrap;
        justify-content: center !important;
        gap: 24px;
    }
    .fdF1{
        width: 327px;
        height: 297px;
    }
    .fdF2{
        width: 327px;
        height: 205px;
        justify-content: flex-start !important;
        text-align: center;
    }
    .fdPara{
        width: 327px !important;
        height: 42px !important;
        font-size: 16px !important;
        line-height: 21px !important;
    }
    /* savings */
    .savingsContainer{
        width: 100%;
        height: 631px;
        flex-wrap: wrap;
        justify-content: center !important;
        gap: 5px !important;
    }
    .savingf1{
        width: 375px;
        height: 631px;
        order:10;        
    }
    .savingPara{
        width: 327px !important;
        height: 42px !important;
        font-size: 16px;
        line-height: 21px;
    }
    .savingF2{
        order: -1;
        width: 327px !important;
        height: 297px !important;
    }
    /* TaxSavings */
    .taxContainer{
        width: 100%;
        height: 731px;
        flex-wrap: wrap;
        justify-content: center !important;
        gap: 24px;
    }
    .taxF1{
        width: 327px;
        height: 297px;
    }
    .taxF2{
        width: 327px;
        height: 205px;
        justify-content: flex-start !important;
        text-align: center;
    }
    .taxPara{
        width: 327px !important;
        height: 42px !important;
        font-size: 16px !important;
        line-height: 21px !important;
    }
    /* Keep learning */
    .learnFrame{
        width: 100%;
        height: 1600px !important;      
    }
    .para{
        width: 327px !important;
        height: 63px !important;
        line-height: 21px;
    }
    .flexContainer{
        width: 327px;
        height: 1179px;
    }
    .card2{
        width: 327px;
        height: 290px;
    }
    .card2Img{
        width: 311px;
        height: 150px;
    }
    .card2Cont{
        width: 311px;
        height: 54px;
        font-size: 14px !important;
        line-height: 18px !important;
    }
    .card2Bottom{
        width: 311px;
height: 37px;
    }
    .btn-content{
        width: 311px !important;
        height: 37px !important;
        gap: 100px;
    }
    .btn-read{

    }
    /* press */
    #pressContainer{
        width: 100%;
        height: 304px;   
        gap: 5px;     
        padding: 30px 24px;
    }
    #pressImg{
        width: 327px;
        height: 40px;
    }
    .pImg{
        width: 76px;
        height: 27.2px;
    }
    .followContainer{
        width: 100%;
        height: 402px;
        padding: 48px 24px;
    }
    .follow1{
        width: 327px;
        height: 138px;
        display: flex;
        justify-content: center !important;
        gap: 40px;
    }
    .logoImg{
        width: 48px;
        height: 48px;
    }
    /* Invest */
    .investContainer{
        width: 100%;
        height: 317px;
        gap:10px !important;
    }
    /* stress */
    .firstContainer{
        width: 100%;
        height: 297px;
        gap: 10px !important;
        align-items: center !important;
        justify-content: center !important;
    }
    .rupeeCoin{
        width: 60.72px !important;
        height: 60.72px !important;
    }
    .fCoin{
        width: 50px !important;
        height: 50px !important;
    }
    .percentCoin{
        width: 72px !important;
        height: 72px !important;
        bottom: 20px !important;
        left: 10px !important;
    }
    .arrowCoin{
        width: 66px !important;
        height: 66px !important;
        bottom: 20px !important;
    }
    .stressHead{
        width: 327px !important;
        height: 41px !important;
        font-size: 32px !important;
        line-height: 21px;
    }
    .stressPara{
        width: 327px;
        height: 63px;
        font-size: 16px !important;        
    }
    /* NavBottom */
    .nav-bottom-container{
        width: 100%;
        height: 40px;
    }
    .megatext{
        width: 184px;
        height: 18px;
        font-size: 14px;
    }
    /* Navbar */
    .navbar-container{
        width: 100%;
        height: 50px;
        gap:200px;
    }
    .nav-frame-1{
        width: 54.38px !important;
        height: 15px !important;
    }
    .nav-frame-2{
        display: none;
    gap: 10px !important;
    }
    .nav-frame-3{
        width: 54.38px;
        height: 15px;
        font-size: 8px !important;
    }
    .footContainer{
        width: 100% !important;
        height: 687px !important;
        flex-wrap: wrap;
        justify-content: center !important;
        align-items: center !important;
        font-weight: 400 !important;
        font-size: 16px !important;
        line-height: 21px !important;
        margin-top: -312px;
        /* padding: 40px 10px !important; */
    }
    .fixedContainer1{
        width: 327px;
        height: 316px;
    }
    .fixedContainer2{
        display: flex;
        flex-wrap: wrap;
        width: 375px;
        height: 150px;
        gap: 40px;
        
    }
    .talkContainer{
        display: flex;
        flex-direction: column;
        order: 20;
        width: 327px !important;
        height: 113px !important;
        right: 0px !important;
        /* width: 194px; */
    }
    .foot1{
        width: 327px;
        height: 171px;
        
    }
}