header{
    background-color: #FFFFFF;
}
li{
    list-style: none;
}
a{
    color: #121B64;
    text-decoration: none;
}
.navbar{
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 60px;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:60px;
}
.hamburger{
    display: none;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #121B64;
}
@media(max-width:1024px){
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu,.nav-btn{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0px;
        flex-direction: column;
        background-color: #FFFFFF;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-munu.active{
        left: 0;
    }

}